<%- include('partials/header') %> 
<h1>Contact</h1>
<p>you can follow, critics, rate me or give me advice on my <a href="https://github.com/sabiqazhar">github</a> </p>

<%- include('partials/footer') %>